{{!--
<h1>User profile {{username}}</h1>
<p>{{password}}</p> --}}
<br>
<h2>My SWISH list:</h2>
<div class="row">
  {{#each wishes}}
  <div class="col-md-4">
    <div class="card m-1">
      <img class="card-img-top" src="{{this.picture}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">
          <strong>Description:</strong> {{this.description}} <br>
          <strong>Comment:</strong> {{this.comment}} <br>
          <strong>Price range:</strong> {{this.priceRange}} <br>
          <strong>End date:</strong> {{this.endDate}}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>