<h1>This is the wish list of {{username}}</h1>

{{#each wishlists }}
<h1>{{this.name}}</h1>
<br>
<p> <img src="{{this.picture}}" alt=""> </p>
<p>Comment: {{this.comment}} <br>Price range: {{this.priceRange}}</p>
{{/each}}